<footer class="footer">
    <section
        style="display: block; background-color: #202020; padding-top: 60px; padding-bottom: 30px; border-radius: 9px 9px 0 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>About Us</h3>
                    <br />
                    <p>You can find something about us in the <a href="/about-us">About Us</a> section.</p>
                    <br />
                    <br />
                </div>
                <div class="col-lg-6">
                    <h3>Site Map</h3>
                    <ul type="circle">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about-us">About Us</a>
                        </li>
                        <li>
                            <a href="/pricing">Pricing</a>
                        </li>
                        <li>
                            Pentest Tools<br />
                            <ul type="circle">
                                <li><a href="/sherlock">Sherlock</a></li>
                                <li><a href="/portscanner">Port Scanner</a></li>
                                <li><a href="/whois">WhoIs</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section style="display: block; background-color: #0d0d0d; cursor: default; color: white">
        <div class="container">
            <div class="row">
                <div class="m-auto">
                    <p style="opacity: .7; margin-top: 15px; text-align: center; font-size: 12px">Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> S.C. CYBERIUM ENTERTAINMENT SOFTWARE S.R.L. &bull; All rights reserved
                    </p>
                </div>
                
            </div>
        </div>
    </section>
</footer>