<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include templates/dependencies.ejs %>
</head>

<body>
    <% include templates/navbar.ejs %>
    <br /><br /><br />
    <div class="container-fluid" style="height: 100vh;">
        <div class="row"></div>
        <div class="col-xl-12">
            <p class="description">
                Cyberium's Pentest Suite is our new product based around the idea of a dashboard around popular
                command line tools used in the activity of pentesting(pentesting = authorized, simultated
                cyberattack on a computer system, performed to evaluate the security of the system).
                We found the lack of performance in using command line tools among fellow pentesters and we have
                decided to change that with a easy to use and fast tool that works in the browser.
                Businesses around the world search for tools like our to simplify their security audit procedure and
                are willing to invest into subscription based tools like ours.
                We build the tool to be modular, the backend is composed of a control plane built in Node.js and a
                scanning component(the part that runs the tools) built in Go, a performant language, perfectly
                suited for concurent tasks such as scanning networks and such.
                Some of the tooling we develop on our own directly in go and for others we provide an abstraction
                layer over them trough Go, the projects that we use are MIT licensed and we would like to commit
                part of our revenue in sponsoring them.
            </p>
        </div>
    </div>
</body>

</html>

<!-- Cyberium's Pentest Suite is our new product based around the idea of a dashboard around popular command line tools used in the activity of pentesting(pentesting = authorized, simultated cyberattack on a computer system, performed to evaluate the security of the system).
We found the lack of performance in using command line tools among fellow pentesters and we have decided to change that with a easy to use and fast tool that works in the browser.
Businesses around the world search for tools like our to simplify their security audit procedure and are willing to invest into subscription based tools like ours.
We build the tool to be modular, the backend is composed of a control plane built in Node.js and a scanning component(the part that runs the tools) built in Go, a performant language, perfectly suited for concurent tasks such as scanning networks and such.
Some of the tooling we develop on our own directly in go and for others we provide an abstraction layer over them trough Go, the projects that we use are MIT licensed and we would like to commit part of our revenue in sponsoring them. -->