<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include templates/dependencies.ejs %>
  </head>
  <body>
    <% include templates/navbar.ejs %>
    <br /><br /><br />
    <div class="container-fluid" style="height: 100vh;">
      <div class="row"></div>
        <div class="col-xl-4" style="position: absolute; left: 10%; top: 50%; transform: translate(-10%, -50%);">
              <h1 class="title">
                Cyberium
              </h1>
              <br />
              <h1 class="slogan">
                Your data safety is our business
              </h1>
        </div>
        <div class="col-xl-4"></div>
        <div class="col-xl-4" style="position: absolute; right: 0; top: 50%; transform: translate(0, -50%);">
          <% include ../public/images/favicon.svg %>
        </div>
    </div>
  </body>
  <% include templates/footer.ejs %>
</html>
