<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include templates/dependencies.ejs %>
</head>

<body>
    <% include templates/navbar.ejs %>
    <br /><br /><br />
    <div class="container-fluid pt-5" style="height: 100vh;">
        <div class="row"></div>
        <div class="col-xl-12" style="position: relative; top: 30%; transform: translateY(-30%);">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-12 px-5">
                        <div class="card mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Basic</h5>
                                <h6 class="card-subtitle mb-2 text-muted">An afforable price for individuals</h6>
                                <p class="card-text">
                                    Access for one user to most of our tools<br />
                                    List of available tools:
                                    <ul>
                                        <li>Sherlock</li>
                                        <li>Port scanner</li>
                                        <li>Whois database</li>
                                    </ul>
                                </p>
                                <a href="#" class="card-link">Learn more</a>
                                <a href="#" class="card-link">Buy now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 px-5">
                        <div class="card mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Advanced</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Best suited for small companies</h6>
                                <p class="card-text">
                                    Acess to 5 users to all of our tools<br />
                                    List of available tools:
                                    <ul>
                                        <li>Sherlock</li>
                                        <li>Port scanner</li>
                                        <li>Whois database</li>
                                        <li>... (to be continued)</li>
                                    </ul>
                                </p>
                                <a href="#" class="card-link">Learn more</a>
                                <a href="#" class="card-link">Buy now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 px-5">
                        <div class="card mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Enterprise (Contact US)</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Large companies</h6>
                                <p class="card-text">
                                    Acess to unlimited users to all of our tools<br />
                                    List of available tools:
                                    <ul>
                                        <li>Sherlock</li>
                                        <li>Port scanner</li>
                                        <li>Whois database</li>
                                        <li>... (to be continued)</li>
                                    </ul>
                                </p>
                                <a href="#" class="card-link">Learn more</a>
                                <a href="#" class="card-link">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>