<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include templates/dependencies.ejs %>
  </head>
  <body>
    <% include templates/navbar.ejs %>
    <br /><br /><br />
    <div class="container-fluid" style="height: 100vh; width: 100vh">
    <div class="row">
      <div class="col-xl-4"></div>
      <div class="col-xl-4">
            <form method="get" id="search-form">
                <label for="search">Search</label>
                <input id="search" type="text" name="search" />
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="col-xl-4"></div>
    </div>
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <div id="response"></div>
        </div>
        <div class="col-xl-4"></div>
    </div>
    </div>
    <script>
        $(document).ready(() => {
            $("#search-form").submit((e) => {
                e.preventDefault();
                const data = $("#search").val();
                $.ajax({
                    url: `/sherlock/check_user/${data}`,
                    type: "get",
                    success: (data) => {
                        $("#response").append(data);
                    },
                });
            });
        });
    </script>
  </body>
</html>
