<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include templates/dependencies.ejs %>
  </head>
  <body>
    <% include templates/navbar.ejs %>
    <br /><br /><br />
    <div class="container-fluid" style="height: 100vh; width: 100vh">
    <div class="row">
      <div class="col-xl-4"></div>
      <div class="col-xl-4">
            <form method="get" id="search">
                <label for="search">Search</label>
                <input id="search" id="query-data">
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="col-xl-4"></div>
    </div>
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <div id="response"></div>
        </div>
        <div class="col-xl-4"></div>
    </div>
    </div>
    <script>
        $(document).ready(() => {
            $("#search").submit((e) => {
                e.preventDefault();
                $.ajax({
                    url: `/sherlock/retrieve_data/`,
                    type: "get",
                    data: $("#search").serialize(),
                    success: async (data) => {
                        await $("#response").append(data);
                    },

                });
            });
        });
    </script>
  </body>
</html>
