<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include templates/dependencies.ejs %>
  </head>
  <body>
    <% include templates/navbar.ejs %>
    <br /><br /><br />
    <div class="container-fluid" style="height: 100vh; width: 100vh">
    <div class="row">
      <div class="col-xl-4"></div>
      <div class="col-xl-4">
            <form method="get" id="search-form">
                <label for="search">Search</label>
                <input id="search" type="text" name="search" />
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="col-xl-4"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body" id="response">
                  
                </div>
            </div>
        </div>
        <div class="col-xl-4"></div>
    </div>
    </div>
    <script>
        $(document).ready(() => {
            $("#search-form").submit((e) => {
                e.preventDefault();
                const data = $("#search").val();
                $.ajax({
                    url: `/whois/retrieve_domain/${data}`,
                    type: "get",
                    success: (data) => {
                        console.log(data);
                        $("response").text(data);
                    },
                    statusCode: {
                        420: () => {
                            $("#response").text("Fetching...");
                            const cancel = setInterval(() => {
                                $.ajax({
                                    url: `/whois/check_domain/${data}`,
                                    type: "get",
                                    success: (data) => {
                                        console.log(data[data.length - 1]);
                                        $("response").text(data);
                                        clearInterval(cancel);
                                    },
                                });
                            }, 1000)
                        }
                    }
                });
            });
        });
    </script>
  </body>
</html>
